@import './base-class.scss';

/*nprogress样式*/
#nprogress .bar {
  background: #003894 !important;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #003894 !important;
  border-left-color: #003894 !important;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

/*ihome-ui全局样式文件*/

.ih-has-hide{
    display: none;
    pointer-events:none;
    cursor: default;
}
.ih-has-show{
    display: block;
}

.ih-el-tree-radio .el-checkbox__inner{
    border-radius: 100%;
}
.ih-el-tree-checkbox .el-checkbox__inner{
    border-radius: 0;
}

.el-card.ih-card-form {
    background: #fff;
    // padding: 20px;
    .el-form-item {
      margin-right: 40px;
    }
    
  }
  .el-card.ih-card-form.is-always-shadow{
    box-shadow: none !important;
  }
   

  .el-select-dropdown__wrap{
      max-height: 400px !important;
  }

.el-table__header th{
    background: #4881F9 !important;
    color: #FFFFFF;
}
.el-table__row:hover td{
    background-color: #f2f5fd !important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #dee6fd!important;
    color: #003894 !important;
  }
  .ih-table{
      .el-dropdown-link{
        color:#409eff !important;
        width:100%;
        cursor: pointer;
      }
      .el-icon-arrow-down {
        font-size: 12px;
      }
      .demonstration {
        display: block;
        color: #8492a6;
        font-size: 14px;
        margin-bottom: 20px;
      }
  }

  .ih-info-line {
    padding: 15px;
  }
  .ih-info-item-left {
    text-align: right;
    line-height: 21px;
  }
  .ih-info-item-right {
    text-align: left;
    padding-left: 20px;
    line-height: 21px;
  }
  .ih-info-title {
    text-align: left;
    margin-left: 20px;
    border-left: 5px solid #003894;
    padding-left: 5px;
    color: #003894;
    font-weight: 500;
    line-height: 14px;
  }
 
  .ih-form .el-form-item__content {
    margin-right: 40px;
  }
  //资源权限设置
  .ih-has-disabled {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
    display: none;
   }
   //数据权限设置
  .ih-data-disabled {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
    display: none;
  }
  //该数据userId是否当前登录账号userId
  .ih-my-disabled{
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
    display: none;
  }

  // 数据状态颜色
.ih-status-dot {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .dot {
    display:block;
    border-radius:50%;
    width:8px;
    height:8px;
    box-sizing: border-box;
    margin-right: 5px;
  }

  .warning {
    background: #FF9900;
  }

  .primary {
    background: #409EFF;
  }

  .success {
    background: #19BE6B;
  }

  .error {
    background: #F56C6C;
  }
}