@import './base-class.scss';

/*nprogress样式*/
#nprogress .bar {
  background: #F90 !important;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #F90 !important;
  border-left-color: #F90 !important;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

/*ihome-ui全局样式文件*/

.ih-has-hide{
    display: none;
    pointer-events:none;
    cursor: default;
}
.ih-has-show{
    display: block;
}

.ih-el-tree-radio .el-checkbox__inner{
    border-radius: 100%;
}
.ih-el-tree-checkbox .el-checkbox__inner{
    border-radius: 0;
}

.el-card.ih-card-form {
    background: #fff;
    // padding: 20px;
    .el-form-item {
      margin-right: 40px;
    }
    
  }
  .el-card.ih-card-form.is-always-shadow{
    box-shadow: none !important;
  }
   

  .el-select-dropdown__wrap{
      max-height: 400px !important;
  }

.el-table__header th{
    background: #f1f1f1 !important;
    color: #7b7b7b;
}
.el-table__row:hover td{
    background-color: #f6faec !important;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #fff7eb!important;
    color: #f90 !important;
  }
  .ih-table{
      .el-dropdown-link{
        color:#409eff !important;
        width:100%;
        cursor: pointer;
      }
      .el-icon-arrow-down {
        font-size: 12px;
      }
      .demonstration {
        display: block;
        color: #8492a6;
        font-size: 14px;
        margin-bottom: 20px;
      }
  }

  .ih-info-line {
    padding: 15px;
  }
  .ih-info-item-left {
    text-align: right;
    line-height: 21px;
  }
  .ih-info-item-right {
    text-align: left;
    padding-left: 20px;
    line-height: 21px;
  }
  .ih-info-title {
    text-align: left;
    margin-left: 20px;
    border-left: 5px solid #F90;
    padding-left: 5px;
    color: #f90;
    font-weight: 500;
    line-height: 14px;
  }
 
  .ih-form .el-form-item__content {
    margin-right: 40px;
  }
  .ih-has-disabled {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
   
   }